
@{
    ViewData["Title"] = "Foodclub";
}

<section>
    <h1 class="text-center" style="padding-top:50px">Food club</h1>
</section>
<section>
    <h1 class="text-center" style="padding-top:50px">Canteens</h1>
</section>
<section class="container justify-content-center" style="padding-top:50px;">
    <div class="row" style="padding-top:20px;">
        <button type="button" onclick="location.href='@Url.Action(" CreateCustomerMember", "Order" )'" class="btn-dark" style="height: 150px; width: 90%; margin-left: auto; margin-right: auto;">Indonesian</button>
    </div>
    <div class="row" style="padding-top:20px;">
        <button type="button" onclick="location.href='@Url.Action(" CreateCustomerMember", "SalesPersonal" )'" class="btn-dark" style="height: 150px; width: 90%; margin-left: auto; margin-right: auto;">Japanese</button>
    </div>
    <div class="row" style="padding-top:20px;">
        <button type="button" onclick="location.href='@Url.Action(" CreateCustomerMember", "SalesPersonal" )'" class="btn-dark" style="height: 150px; width: 90%; margin-left: auto; margin-right: auto;">Shanghainese</button>
    </div>
</section>

