@model SustainabilityPrototype.Models.Orderdetails

@{
    ViewData["Title"] = "NasiLemak";
    Layout = "_StudentLayout";
}


<img src ="~/images/nasi lemak.jpeg" style="width:100%;" />
<h1 class="text-center">NasiLemak</h1>



<div>
    <a asp-action="Index">Back to List</a>
</div>

