
@{
    ViewData["Title"] = "OrderComplete";
    Layout = "_StudentLayout";
}

<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <section>
        <a href="~/Order/Index" style="display:block; margin-left:auto; margin-right:auto; padding-block:50px; ">
            <img src="~/images/Bluetick.png" style="width:80%;" href="~/Order/Indonesian" />
        </a>

        <div class="d-flex justify-content-center">
            <h1 class="text-center">Order is successful, order number is 7923</h1>
        </div>
    </section>
</body>
</html>
