
@{
    ViewData["Title"] = "SelectedStall";
}

<section>
    <h1 class="text-center" style="padding-top:50px">Indonesian Stall</h1>
</section>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <img width="250" height="250" src="/images/nasi lemak.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Nasi Lemak</h5>
                <p class="card-text">Description</p>
                <a href="#" class="btn btn-primary">Order</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <img width="250" height="250" src="/images/nasi goreng.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Nasi Lemak</h5>
                <p class="card-text">Description</p>
                <a href="#" class="btn btn-primary">Order</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <img width="250" height="250" src="/images/ayam penyet.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Nasi Lemak</h5>
                <p class="card-text">Description</p>
                <a href="#" class="btn btn-primary">Order</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <img width="250" height="250" src="/images/maggi goreng.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Nasi Lemak</h5>
                <p class="card-text">Description</p>
                <a href="#" class="btn btn-primary">Order</a>
            </div>
        </div>
    </div>

    

</div>


