<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Login Form Example</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
    <link rel="stylesheet" href="~/css/login.css">

</head>
<body>
    <div class="login-form">
        <form asp-controller="Home" asp-action="Login" method="get">
            <h1>Register</h1>
            <div class="content">
                <div class="input-field">
                    <input type="text" placeholder="StudentID" autocomplete="nope" name="username">
                </div>
                <div class="input-field">
                    <input type="password" placeholder="Name" autocomplete="new-password" name="password">
                </div>
                <div class="input-field">
                    <input type="text" placeholder="Password" autocomplete="nope" name="username">
                </div>
                <div class="input-field">
                    <input type="password" placeholder="Email" autocomplete="new-password" name="password">
                </div>
                <div class="input-field">
                    <input type="date" name="DOB" placeholder="Date Of Birth">
                </div>
            </div>
            <div class="action">
                <button>Create</button>
            </div>
        </form>
    </div>
</body>
</html>
