
@{
    ViewData["Title"] = "QRCode";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}
<html>
<body style="background-color: #F9CF00">
    <div class="QRCodeContainer">
        <h1 style="margin:1.5rem; font:bold">@ViewData["RedeemOption"]</h1>
        <br />
        <br />
        <br />
        <p style="margin:1rem; font:bold">Show this to the store vendor!</p>
        <img src="@ViewData["QR"]" style="margin:.5rem;border-radius:25px"/>
    </div>
</body>
</html>



