
@{
    ViewData["Title"] = "Redeem";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background: #fffacd;
        }
    </style>

</head>

<body>
    <img src="@ViewData["QR"]" />
    <div class="showcash">
        <img src="~/images/pngtree-golden-pig-money-gold-piggy-bank-png-image_549338.jpg">
        <div class="cash">
            <h1>$</h1>
        </div>
    </div>
    <div class="points">Points:</div>
    <div class="button-container">
        <div class="10c">
            <p>10c off next order</p>
            <button type="submit" class="submit">Redeem</button>
        </div>
        <div class="20c">
            <p>20c off next order</p>
            <button type="submit" class="submit">Redeem</button>
        </div>
        <div class="50c">
            <p>50c off next order</p>
            <button type="submit" class="submit">Redeem</button>
        </div>
        <div class="1d">
            <p>$1 off next order</p>
            <button type="submit" class="submit">Redeem</button>
        </div>

</body>
</html>

