
@{
    ViewData["Title"] = "Redeem";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="~/css/redemption.css">
  <script defer src="~/js/redemption.js"></script>
</head>
  
<body>
  <div class="container">
    <img src="~/images/Pig.png" style="width:100%;"> 
    <div class="centered">$</div>
  </div>
  <div class="showpoints">
  <div class="points">Points:</div>
  </div>
  <section class="button-container">
    <div class="flex-item">
      <div class="10c">
        <p>10c off next order</p>
        <button type="submit" class="submit">Redeem</button>
        <div class="modal myModal">
            <div class="modal-content">
              <div class="container">    
              <div class="confirmchoice">
                <form method="post">
                  <h3>Redeem this voucher</h3>
                  <button asp-controller="Point" asp-action="Redeem" asp-route-points="75" class="yes">Yes</button>
                  <input type="button" class="no" value="No">
                </form>
              </div>
            </div>
            </div>
        </div>
      </div>
    </div>
    <div class="flex-item">
      <div class="20c">
        <p>20c off next order</p>
        <button type="submit" class="submit">Redeem</button>
        <div class="modal myModal">
            <div class="modal-content">
              <div class="container">    
              <div class="confirmchoice">
                <form method="post">
                  <h3>Redeem this voucher</h3>
                  <button asp-controller="Point" asp-action="Redeem" asp-route-points="150" class="yes">Yes</button>
                  <input type="button" class="no" value="No">
                </form>
              </div>
            </div>
            </div>
        </div>
      </div>
    </div>
    <div class="flex-item">
      <div class="50c">
        <p>50c off next order</p>
        <button type="submit" class="submit">Redeem</button>
        <div class="modal myModal">
            <div class="modal-content">
              <div class="container">    
              <div class="confirmchoice">
                <form>
                  <h3>Redeem this voucher</h3>
                  <button asp-controller="Point" asp-action="Redeem" asp-route-points="375" class="yes">Yes</button>
                  <input type="button" class="no" value="No">
                </form>
              </div>
            </div>
            </div>
        </div>
      </div>
    </div>
    <div class="flex-item">
      <div class="1d">
        <p>$1 off next order</p>
        <button type="submit" class="submit">Redeem</button>
        <div class="modal myModal">
            <div class="modal-content">
              <div class="container">    
              <div class="confirmchoice">
                <form method="post">
                  <h3>Redeem this voucher</h3>
                  <button asp-controller="Point" asp-action="Redeem" asp-route-points="750" class="yes">Yes</button>
                  <input type="button" class="no" value="No">
                </form>
              </div>
            </div>
            </div>
        </div>
      </div>
    </div>
  </section>
    

  
</body> 
</html>



