<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SustainabilityPrototype</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <!--Remeber to remove the manual css from section and img and place it in css folder-->
        <section style="background: #4484CE; height:50px;"></section>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a href="~/Home/Index">
                <img src="~/images/FoodEx_Logo.png" style="width:150px; height:65px; object-fit:cover;">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="~/Point/Index">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link active" href="~/Point/Redeem">Redeem Points</a>
                    <a class="nav-item nav-link active" href="#">Scan QR</a>
                    <a class="nav-item nav-link active" href="~/Order/Index">Mobile Order</a>@*Temporary for referring to order page*@
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - SustainabilityPrototype - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>